<md-list class="md-dense" flex style="padding-top:0px">
  <md-subheader class="md-no-sticky">{{listTitle}}</md-subheader>
  <md-divider ></md-divider>
  <md-list-item class="md-2-line" ng-repeat="item in list">
    <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
      <h3>Sensor: {{item._id}} <small>@ {{item.date}}</small></h3>
      <p>Location: {{item.loc}}</p>
    </div>
</md-list>