<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="true" md-disable-backdrop md-whiteframe="4">
    <md-list class="md-dense" flex>
      <md-subheader class="md-no-sticky">Menu</md-subheader>
        <md-list-item class="md-1-line" ng-click="navigateTo(item.link)" ng-repeat="item in pages">
          <div class="md-list-item-text" layout="column" >
            <h3>{{item.name}}</h3>
          </div>
        </md-list-item>
    </md-list>
</md-sidenav>