doctype html
html(ng-app="parksense")
  head
    title= title
    script(src='/bower_components/leaflet/leaflet.js')
    script(src='/bower_components/moment/moment.js')
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-animate/angular-animate.min.js')
    script(src='/bower_components/angular-aria/angular-aria.min.js')
    script(src='/bower_components/angular-messages/angular-messages.min.js')
    script(src='/bower_components/angular-route/angular-route.min.js')
    script(src='/bower_components/angular-material/angular-material.min.js')
    script(src='/bower_components/angular-material-icons/angular-material-icons.min.js')
    script(src='/bower_components/ngstorage/ngStorage.min.js')
    script(src='/bower_components/angular-cookies/angular-cookies.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='bower_components/leaflet/leaflet.css')
    link(rel='stylesheet', href='bower_components/angular-material/angular-material.min.css')
    link(rel='stylesheet', href='bower_components/angular-material-icons/angular-material-icons.css')
    
    script(src='/js/app.js')
    script(src='/js/controllers/controller.js')
    script(src='/js/controllers/login.controller.js')
    script(src='/js/services/login.service.js')
    script(src='/js/directives/nav-sidebar/nav-sidebar.directive.js')
    script(src='/js/directives/nav-toolbar/nav-toolbar.directive.js')
    script(src='/js/directives/user-list/user-list.directive.js')
    script(src='/js/directives/park-list/park-list.directive.js')
    script(src='/js/directives/parkinglogs-list/parkinglogs-list.directive.js')
    script(src='/js/directives/sensor-list/sensor-list.directive.js')
    script(src='/js/directives/sensorlogs-list/sensorlogs-list.directive.js')
    script(src='/js/directives/add-park-admin-form/add-park-admin-form.directive.js')
    script(src='/js/directives/add-park-form/add-park-form.directive.js')
    script(src='/js/directives/park-details/park-details.directive.js')
    script(src='/js/directives/map/map.directive.js')
  body(class="main-wrapper",ng-controller="MainController")
    div(layout="column", style="height: 100%;")
      block content
