extends layout

block content
  md-content(flex)
    nav-toolbar
    div(layout="row", ng-controller="LoginController as main")
      div(flex)
      div(flex)
        md-card(class="login-box")
          md-card-title
            md-card-title-text
              span(class="md-headline", style="text-align:center;")
                | Parksense Admin Panel
          md-card-body(layout-padding)
            form(name="loginForm")
              md-input-container(class="md-block")
                label Email
                input(required, type="email", name="Email", ng-model="main.email")
              md-input-container(class="md-block")
                label Password
                input(required, type="password", name="Password", ng-model="main.password")
              p(ng-show="main.loginError", style="text-align:center;color:red") Login Failed
          md-button(ng-click="main.login()", class=["md-raised", "md-primary"])
            | Login
      div(flex)