extends layout

block content
  md-content(ng-controller="LoginController as main", flex)
    nav-toolbar
    div(layout="row", flex, class="layout-height")
      nav-sidebar
      md-content(flex)
        div(layout="column", layout-fill)
          md-content(flex, class="white-background")
            -var s = list
            -var title = listTitle;
            sensor-list(list="#{s}", listTitle="#{title}")