

<md-subheader class="md-no-sticky">Register A Park</md-subheader>
<md-divider ></md-divider>
<form name="parkAdminForm" class="form-container">
  
   <md-input-container class="md-block" flex>
    <label>Park Owner</label>
    <md-select ng-model="park._owner">
      <md-option ng-repeat="item in managers" value="{{item._id}}">
        {{item.email}}
      </md-option>
    </md-select>
  </md-input-container>
  
  <md-input-container class="md-block" flex>
    <label>Park Name</label>
    <input ng-model="park.name">
  </md-input-container>
  
  <md-input-container class="md-block">
    <label>Description</label>
    <textarea ng-model="park.description" md-maxlength="150" rows="4" md-select-on-focus></textarea>
  </md-input-container>
  
  <div layout-gt-xs="row">
    <md-input-container class="md-block" flex>
      <label>Type</label>
      <md-select ng-model="park.type">
      <md-option value="Gated"> Gated </md-option>
      <md-option value="Side Road"> Side Road </md-option>
      <md-option value="Other"> Other </md-option>
    </md-select>
    </md-input-container>
    
    <md-input-container class="md-block" flex>
      <label>Geofence</label>
      <input ng-model="park.geofence">
    </md-input-container>
  </div>
  
   <div layout-gt-xs="row">
    <md-input-container class="md-block" flex>
      <label>Size</label>
      <input ng-model="park.size">
    </md-input-container>
    
    <md-input-container class="md-block" flex>
      <label>Latitude</label>
      <input ng-model="park.lat">
    </md-input-container>
    
    <md-input-container class="md-block" flex>
      <label>Longitude</label>
      <input ng-model="park.lon">
    </md-input-container>
  </div>
  
  <div layout="row" layout-align="end center">
    <md-button ng-click="submitForm()" class="md-raised md-primary">{{buttonText}}</md-button>
  </div>
</form>

