body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav-sidebar {
      z-index: 1;
}

md-toolbar {
  z-index: 2;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12)
}

.white-background {
  background-color: #fff;
}

.layout-height {
  height: calc(100% - 64px) !important;
}

md-card {
  background-color: #fff;
}

.login-box {
  margin-top:100px;
  box-shadow: 0px 5px 30px #888888;
}

.login-box md-input-container {
  margin:0px;
}

.login-box md-card-title {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 0px;
}

.login-box .md-raised {
  margin: 15px;
}

.md-subheader {
  background-color: #fff;
}

md-sidenav {
  background-color: #fff;
  max-width: 280px !important;
  height: 100%;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}

.form-container {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
}

.clear-padding {
  padding: 0px;
}

.text-right {
  text-align: right;
}

#mapid {
  height: 100%;
}