<md-subheader class="md-no-sticky">Register A Park Admin</md-subheader>
<md-divider ></md-divider>
<form name="parkAdminForm" class="form-container">
  <md-input-container class="md-block" flex>
    <label>Email</label>
    <input ng-model="user.email">
  </md-input-container>
  <md-input-container class="md-block" flex>
    <label>Password</label>
    <input ng-model="user.password">
  </md-input-container>
  <div layout="row" layout-align="end center">
    <md-button ng-click="submitForm()" class="md-raised md-primary">{{buttonText}}</md-button>
  </div>
</form>