<md-list class="md-dense" flex style="padding-top:0px">
  <md-subheader class="md-no-sticky">{{listTitle}}</md-subheader>
  <md-divider ></md-divider>
  <md-list-item class="md-2-line" ng-repeat="item in list">
    <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
      <h3> {{item.email}} - <small>Role: {{item.role}}</small></h3>
      <p> Created At: {{item.createdAt}} </p>
    </div>
</md-list>