<md-subheader class="md-no-sticky">{{park.name}}</md-subheader>
<md-divider ></md-divider>
<md-content>
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Details">
      <md-content>
        <md-list class="clear-padding">
          <md-list-item class="secondary-button-padding">
            <h4>ID: </h4>
            <p class="text-right">{{park._id}}</p>
          </md-list-item>
          <md-list-item class="secondary-button-padding">
            <h4>Owner ID: </h4>
            <p class="text-right">{{park._owner}}</p>
          </md-list-item>
          <md-list-item class="secondary-button-padding">
            <h4>Name: </h4>
            <p class="text-right">{{park.name}}</p>
          </md-list-item>
          <md-list-item class="secondary-button-padding">
            <h4>Description: </h4>
            <p class="text-right">{{park.description}}</p>
          </md-list-item>
          <md-list-item class="secondary-button-padding">
            <h4>Type: </h4>
            <p class="text-right">{{park.type}}</p>
          </md-list-item>
          <md-list-item class="secondary-button-padding">
            <h4>Occupation: </h4>
            <p class="text-right">{{park.occupation}}/{{park.size}}</p>
          </md-list-item>
          <md-list-item class="secondary-button-padding">
            <h4>Size: </h4>
            <p class="text-right">{{park.size}}</p>
          </md-list-item>
          <md-list-item class="secondary-button-padding">
            <h4>Available: </h4>
            <p class="text-right">{{park.available}}</p>
          </md-list-item>
          <md-list-item class="secondary-button-padding">
            <h4>Enabled: </h4>
            <p class="text-right">{{park.enabled}}</p>
          </md-list-item>
          <md-list-item class="secondary-button-padding">
            <h4>Geofence: </h4>
            <p class="text-right">{{park.geofence}}</p>
          </md-list-item>
          <md-list-item class="secondary-button-padding">
            <h4>Location: </h4>
            <p class="text-right">{{park.loc}}</p>
          </md-list-item>
        </md-list>
      </md-content>
    </md-tab>
    
    <md-tab label="Sensors" ng-click="getSensores()">
      <md-content>
        <md-list class="clear-padding">
          <md-list-item class="secondary-button-padding">
            <p>Change park availability</p>
              <md-select ng-change="updateAvailability()" ng-model="park.enabled">
                <md-option value="true"> Open </md-option>
                <md-option value="false"> Closed </md-option>
              </md-select>
          </md-list-item>
          <md-divider ></md-divider>
          <md-list-item class="secondary-button-padding">
            <p>Add a new sensor</p>
            <md-button class="md-secondary" ng-click="sensorFormShow()">
              <ng-md-icon icon="{{sensorIcon}}" style="fill: rgba(0,0,0,0.85)" size="22"></ng-md-icon> {{sensorButton}}
              </md-button>
          </md-list-item>
          <div ng-show="sensorForm" class="md-padding">
            <div layout-gt-xs="row">
              <md-input-container class="md-block" flex>
                <label>Latitude</label>
                <input ng-model="sensor.lat">
              </md-input-container>
              <md-input-container class="md-block" flex>
                <label>Longitude</label>
                <input ng-model="sensor.lon">
              </md-input-container>
            </div>
            <div layout="row" layout-align="end center">
              <md-button ng-click="submitSensor()" class="md-raised md-primary">{{sensorSubmitButton}}</md-button>
            </div>
          </div>
          <md-divider ></md-divider>
          <md-list-item class="md-2-line" ng-repeat="item in sensors">
            <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
              <h3>Sensor: {{item._id}} <small>Location: {{item.loc}}</small></h3>
              <p>Created At: {{item.createdAt}} </p>
            </div>
          </md-list-item>
        </md-list>
      </md-content>
    </md-tab>
    
    <md-tab label="Logs" ng-click="getLogs()">
      <md-content>
        <md-list class="clear-padding">
          <md-list-item class="md-2-line" ng-repeat="item in logs">
            <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
              <h3>Count: {{item.count}} <small>@ {{item.date}}</small></h3>
              <p>Location: {{item.loc}}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-content>
    </md-tab>